<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiling">
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /> -->
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读取联系人信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 更改设置 -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".ddui.activity.BrandActivity"></activity>
        <activity
            android:name=".ddui.activity.CategorySecondActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ddui.activity.DDCouponIntroActivity" />
        <activity android:name=".ddui.activity.DDCouponActivity" /> <!-- 设置key -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="3824cb3b931408d842fca21b5224c5a0"/> -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" /> <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID}" /> <!-- 极光推送广播接收器 -->
        <receiver
            android:name=".shared.receiver.JPushReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- 高德定位 - 旧Key -->
        <!-- 956db2062431116bb6f193a1d8ef3583 -->
        <!-- 高德定位 - 新Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6a436979b59a3ae84b3e658d5557cc5f" />

        <activity
            android:name=".ddui.activity.DDSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".module.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.category.CategoryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.ProfileActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.EditNicknameActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.EditPhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.EditPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.UserInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.page.ShopkeeperActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.AboutUsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.collect.CollectListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.address.AddressListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.address.AddressFormActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.foot.FootListActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.transfer.StepFirstActivity" />
        <activity android:name=".module.transfer.StepSecondActivity" />
        <activity android:name=".module.transfer.StepThirdActivity" />
        <activity
            android:name=".module.profit.ProfitListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.balance.BalanceListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.search.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.balance.BalanceDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.pay.PayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.pay.PayDialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/DDMDialog" />
        <activity
            android:name=".module.pay.PayBalanceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.coupon.CouponListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.coupon.CouponCenterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.coupon.CouponDetailActivity"
            android:launchMode="singleTop" /> <!-- 消息分组界面 add at 2019/01/08 by hanQ -->
        <activity
            android:name=".ddui.activity.MessageGroupActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.message.MessageListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.order.OrderDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".module.order.OrderListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.order.OrderCommentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.instant.InstantActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.page.WebViewActivity" />
        <activity android:name=".module.page.CustomPageActivity" />
        <activity
            android:name=".module.order.RefundGoodsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.order.RefundMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.order.RefundExpressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.user.QRCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.qrcode.QrCodeShowActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.point.PointListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".module.upgrade.UpgradeProgressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.sobot.chat.activity.SobotChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme" />
        <activity
            android:name="com.sobot.chat.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotSkillGroupActivity"
            android:theme="@style/sobot_dialog_skill" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module.auth.AuthIdentityActivity" />
        <activity android:name=".module.auth.AuthPhoneActivity" />
        <activity android:name=".module.auth.AuthIdentitySuccssdActivity" />
        <activity android:name=".module.auth.SubmitStatusActivity" />

        <service
            android:name="com.sobot.chat.core.channel.SobotTCPServer"
            android:exported="false"
            android:label="SobotChatTCPServer" />
        <service android:name="com.sobot.chat.server.SobotSessionServer" />

        <activity android:name=".module.user.BindPhoneActivity" />
        <activity android:name=".module.user.FamilyOrderActivity" />
        <activity
            android:name=".module.user.FamilyActivity"
            android:theme="@style/family" />
        <activity android:name=".module.auth.AuthCardSuccssdActivity" />
        <activity android:name=".module.auth.AuthCardActivity" /> <!-- bugly -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".module.cart.CartActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.deal.DealFirstActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" /> <!-- <activity -->
        <!-- android:name="com.tengchi.zxyjsc.com.dodomall.ddmall.wxapi.WXPayEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@android:style/Theme.Translucent"/> -->
        <!-- <activity -->
        <!-- android:name="com.tengchi.zxyjsc.com.weiju.wyhmall.wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"/> -->
        <activity
            android:name=".module.user.FindPasswordActivity"
            android:launchMode="singleTop" />
        <activity android:name=".module.notice.NoticeListActivity" />
        <activity android:name=".module.notice.NoticeDetailsActivity" />
        <activity android:name=".module.store.StoreSettingActivity" />
        <activity android:name=".module.store.StoreManageActivity" />
        <activity android:name=".module.order.RefundOrderListActivity" />
        <activity android:name=".module.store.StoreCommentActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.order.ShipActivity" />
        <activity android:name=".module.qrcode.ScanActivity" />
        <activity android:name=".module.store.StoreInfoActivity" />
        <activity android:name=".module.store.StoreExpressSettingActivity" />
        <activity android:name=".module.store.ReceiveRefundGoodsActivity" />
        <activity android:name=".module.product.NewUpPriductListActivity" />
        <activity android:name=".module.product.ProductCommentListActivity" />
        <activity android:name=".module.order.ExpressDetailsActivity" />
        <activity android:name=".module.NearStore.NearStoreDetailActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".module.lottery.LotteryActivity" />
        <activity android:name=".module.lottery.WinnerListActivity" />
        <activity
            android:name=".module.lottery.WinnerDetailsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.product.ProductQrcodeShowActivity" />
        <activity android:name=".module.push.ProductPushActivity" />
        <activity android:name=".module.push.PushHotProductListActivityActivity" />
        <activity android:name=".module.push.ProductPushDetailActivity" />
        <activity android:name=".module.push.PushCategoryProductListActivity" />
        <activity android:name=".module.groupBuy.JoinGroupActivity" />
        <activity android:name=".module.order.NewRefundGoodsActivity" />
        <activity android:name=".module.order.NewRefundsOrderListActivity" />
        <activity android:name=".module.order.RefundDetailActivity" />
        <activity android:name=".module.order.SellerRefundListActivity" />
        <activity android:name=".module.order.SellerRefundDetailActivity" />
        <activity android:name=".module.user.NewRegisterActivity" />
        <activity android:name=".module.NearStore.NearStoreListActivity" />
        <activity android:name=".module.user.SetPasswordActivity" />
        <activity android:name=".module.product.SalePriductListActivity" />
        <activity android:name=".module.community.CommunityDetailActivity" />
        <activity android:name=".module.community.CommunityListActivity" />
        <activity android:name=".module.community.CourseAllActivity" />
        <activity android:name=".module.community.ImagePreviewActivity" />
        <activity android:name=".module.community.ArticleDetailActivity" />
        <activity android:name=".module.community.VideoDetailActivity" />
        <activity android:name=".module.community.VoiceDetailActivity" />
        <activity android:name=".module.publish.PublishHisActivity" />
        <activity android:name=".module.publish.CategoryActivity" />
        <activity android:name=".module.publish.ImagePreviewActivity" />
        <activity android:name=".module.publish.VideoPreViewActivity" />
        <activity android:name=".module.publish.PublishPicActivity" /> <!-- umeng share -->
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107234074" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- umeng share end -->
        <activity android:name=".module.user.WxRegisterActivity" />
        <activity android:name=".module.splash.GuideActivity" />
        <activity
            android:name=".ddui.api.MApiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ddui.activity.UserSettingsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".module.user.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".module.user.CheckPhoneActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".module.user.CaptchaActivity" />
        <activity android:name=".module.user.InviteCodeActivity" />
        <activity android:name=".module.qrcode.DDMScanActivity" />
        <activity android:name=".wxapi.DDWXEntryActivity" />
        <activity
            android:name=".ddui.activity.AuthSecurityActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ddui.activity.AuthActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ddui.activity.UploadIdCardActivity" />
        <activity android:name=".ddui.activity.UploadAuthInfoActivity" />
        <activity android:name=".ddui.activity.BankCardActivity" />
        <activity android:name=".ddui.activity.AddBankCardActivity" />
        <activity android:name=".ddui.activity.BindPhoneNumberActivity" />
        <activity android:name=".ddui.activity.AccessCaptchaActivity" />
        <activity android:name=".ddui.activity.CheckIdentityActivity" />
        <activity android:name=".ddui.activity.UpdatePhoneNumberActivity" />
        <activity android:name=".ddui.activity.SecurityQuestionActivity" />
        <activity android:name=".ddui.activity.EditSecurityQuestionActivity" />
        <activity android:name=".ddui.activity.TradePasswordActivity" />
        <activity android:name=".ddui.activity.IncomeRecordActivity" />
        <activity android:name=".ddui.activity.CashWithdrawRecordActivity" />
        <activity android:name=".ddui.activity.CashWithdrawActivity" />
        <activity android:name=".ddui.activity.CashWithdrawWechatActivity" />
        <activity android:name=".ddui.activity.CashWithdrawSecurityActivity" />
        <activity android:name=".ddui.activity.CashWithdrawResultActivity" />
        <activity android:name=".ddui.activity.CashWithdrawDetailActivity" />
        <activity android:name=".ddui.activity.MyFollowersActivity">
            <intent-filter>
                <action android:name="test" />
            </intent-filter>
        </activity>
        <activity android:name=".ddui.activity.SharePosterActivity" />
        <activity android:name=".ddui.activity.OrderIntroduceActivity" />
        <activity
            android:name=".ddui.activity.InfoDetailActivity"
            android:label="@string/title_activity_info_detail" />
        <activity android:name=".ddui.activity.EconomicClubActivity" />
        <activity android:name=".ddui.activity.EconomicCourseActivity" />
        <activity android:name=".ddui.activity.EconomicTopNewsActivity" />
        <activity android:name=".ddui.activity.EconomicMasterStoryActivity" />
        <activity android:name=".ddui.activity.CommunityTopicActivity" />
        <activity android:name=".ddui.activity.CommunityTopicDetailActivity" />
        <activity android:name=".ddui.activity.DDVideoViewActivity" />
        <activity android:name=".ddui.activity.DDPhonePreviewActivity" />
        <activity android:name=".ddui.activity.SelectAddressMapActivity" />
        <activity
            android:name=".ddui.activity.DDProductDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ddui.activity.ProductMaterialActivity" />
        <activity
            android:name=".ddui.activity.EditWechatAccountActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ddui.activity.EditWechatQrCodeActivity" />
        <activity android:name=".ddui.activity.WechatHelpActivity" /> <!-- 身份证拍照相机界面 -->
        <activity android:name=".ddui.custom.camera.DDIDCardActivity" />
        <activity android:name=".ddui.activity.DDCommunityActivity" />
        <activity android:name=".ddui.activity.FollowerSearchActivity" />
        <activity android:name=".ddui.activity.TeamOrderActivity" />
        <activity android:name=".ddui.activity.TeamOrderDetailActivity" />
        <activity android:name=".ddui.activity.DDCategoryActivity" /> <!-- =====================小能客服sdk内部使用的Activity========================= -->
        <activity
            android:name="cn.ntalker.newchatwindow.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="${packageName}.chatwindow" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="${packageName}.NotifyClick" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ntalker.leavemsg.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="${packageName}.leaveactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ntalker.album.ShowAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XNAppTheme" />
        <activity
            android:name="cn.ntalker.evaluation.EvaluationActivity"
            android:launchMode="singleTask"
            android:theme="@style/translucent" />
        <activity
            android:name="cn.ntalker.picture.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/XNAppTheme" />
        <activity
            android:name="cn.ntalker.picture.ShowPictureListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="cn.ntalker.nsettings.NtSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.ntalker.popHyper.PopHyperActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/hyperpopstyle">
            <intent-filter>
                <action android:name="${packageName}.popHyper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ntalker.nsettings.NtWindowSettings"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.ntalker.utils.common.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/XNAppTheme">
            <intent-filter>
                <action android:name="${packageName}.exploreactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ntalker.video.VideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/XNAppTheme" />
        <activity
            android:name="cn.ntalker.video.RecordVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.ntalker.video.XNVideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/BlueBarTheme" /> <!-- =======================小能客服sdk内部使用的Activity========================= -->
        <!-- 手机关机监听 -->
        <receiver android:name="cn.ntalker.base.ShutdownBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.ntalker.base.GCBroadcastReceiver">
            <intent-filter android:priority="999">

                <!-- 若要使用sdk中监听垃圾回收广播,此name 必为"GCBroadcastReceiver" -->
                <action android:name="GCBroadcastReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ddui.activity.PayResultActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ddui.activity.MeasurementActivity" />
        <activity android:name=".ddui.activity.MeasurementDetailActivity" />
        <activity android:name=".ddui.activity.StoreSettingsActivity" />
        <activity android:name=".ddui.activity.StoreNameEditActivity" />
        <activity android:name=".ddui.activity.StoreDescEditActivity" />
        <activity
            android:name=".dduis.activity.RushListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dduis.activity.DDCategoryMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ddui.activity.ConfirmationOrderActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>